<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Concrete</key>
	<true/>
	<key>Identifier</key>
	<string>mg.ios.templates.mvvm</string>
	<key>Description</key>
	<string>Template MVVM by MarkWarriors</string>
	<key>Ancestors</key>
	<array>
		<string>com.apple.dt.unit.storyboardApplication</string>
	</array>
	<key>SortOrder</key>
	<integer>1</integer>
	<key>Options</key>
	<array>
		<dict>
			<key>Identifier</key>
			<string>ClassPrefix</string>
			<key>Name</key>
			<string>Prefisso classi</string>
			<key>Description</key>
			<string>Definizione del prefisso delle classi</string>
			<key>Type</key>
			<string>text</string>
			<key>Default</key>
			<string></string>
			<key>NotPersisted</key>
			<true/>
			<key>Required</key>
			<true/>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>IQKeyboardManagerEnabled</string>
			<key>Name</key>
			<string>Include Pod IQKeyboardManager</string>
			<key>Description</key>
			<string>Adds IQKeyboardManager as a CocoaPod</string>
			<key>Type</key>
			<string>checkbox</string>
			<key>Default</key>
			<string>false</string>
			<key>NotPersisted</key>
			<true/>
			<key>Units</key>
			<dict>
				<key>true</key>
				<dict>
					<key>Definitions</key>
					<dict>
						<key>../Podfile:iqkeyman</key>
						<string>    pod &apos;IQKeyboardManagerSwift&apos;</string>
					</dict>
					<key>Nodes</key>
					<array>
						<string>../Podfile:iqkeyman</string>
					</array>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>RxSwiftEnabled</string>
			<key>Name</key>
			<string>Include Pod Rx Modules (RxSwift + RxCocoa)</string>
			<key>Description</key>
			<string>Adds RxSwift + RxCocoa as a CocoaPod</string>
			<key>Type</key>
			<string>checkbox</string>
			<key>Default</key>
			<string>false</string>
			<key>NotPersisted</key>
			<true/>
			<key>Units</key>
			<dict>
				<key>true</key>
				<dict>
					<key>Definitions</key>
					<dict>
						<key>../Podfile:rxcpod</key>
						<string>    pod &apos;RxCocoa&apos;</string>
						<key>../Podfile:rxspod</key>
						<string>    pod &apos;RxSwift&apos;</string>
					</dict>
					<key>Nodes</key>
					<array>
						<string>../Podfile:rxcpod</string>
						<string>../Podfile:rxspod</string>
					</array>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>RxDSEnabled</string>
			<key>RequiredOptions</key>
			<dict>
				<key>RxSwiftEnabled</key>
				<string>true</string>
			</dict>
			<key>Name</key>
			<string>Include Pod RxDataSources</string>
			<key>Description</key>
			<string>Adds RxDataSources as a CocoaPod</string>
			<key>Type</key>
			<string>checkbox</string>
			<key>Default</key>
			<string>false</string>
			<key>NotPersisted</key>
			<true/>
			<key>Units</key>
			<dict>
				<key>true</key>
				<dict>
					<key>Definitions</key>
					<dict>
						<key>../Podfile:rxdspod</key>
						<string>    pod &apos;RxDataSources&apos;</string>
					</dict>
					<key>Nodes</key>
					<array>
						<string>../Podfile:rxdspod</string>
					</array>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>AlamofireEnabled</string>
			<key>Name</key>
			<string>Include Pod Alamofire</string>
			<key>Description</key>
			<string>Adds Alamofire as a CocoaPod</string>
			<key>Type</key>
			<string>checkbox</string>
			<key>Default</key>
			<string>false</string>
			<key>NotPersisted</key>
			<true/>
			<key>Units</key>
			<dict>
				<key>true</key>
				<dict>
					<key>Definitions</key>
					<dict>
						<key>../Podfile:afpod</key>
						<string>    pod &apos;Alamofire&apos;</string>
						<key>../Podfile:afipod</key>
						<string>    pod &apos;AlamofireImage&apos;</string>
						<key>../Podfile:ilghttp</key>
						<string>    pod &apos;ILGHttpConstants&apos;</string>
					</dict>
					<key>Nodes</key>
					<array>
						<string>../Podfile:afpod</string>
						<string>../Podfile:afipod</string>
						<string>../Podfile:ilghttp</string>
					</array>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>RxAFEnabled</string>
			<key>RequiredOptions</key>
			<dict>
				<key>RxSwiftEnabled</key>
				<string>true</string>
				<key>AlamofireEnabled</key>
				<string>true</string>
			</dict>
			<key>Name</key>
			<string>Include Pod RxAlamofire</string>
			<key>Description</key>
			<string>Adds RxAlamofire as a CocoaPod</string>
			<key>Type</key>
			<string>checkbox</string>
			<key>Default</key>
			<string>false</string>
			<key>NotPersisted</key>
			<true/>
			<key>Units</key>
			<dict>
				<key>true</key>
				<dict>
					<key>Definitions</key>
					<dict>
						<key>../Podfile:rxalpod</key>
						<string>    pod &apos;RxAlamofire&apos;</string>
					</dict>
					<key>Nodes</key>
					<array>
						<string>../Podfile:rxalpod</string>
					</array>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>RealmEnabled</string>
			<key>Name</key>
			<string>Include Pod Realm</string>
			<key>Description</key>
			<string>Adds Realm as a CocoaPod</string>
			<key>Type</key>
			<string>checkbox</string>
			<key>Default</key>
			<string>false</string>
			<key>NotPersisted</key>
			<true/>
			<key>Units</key>
			<dict>
				<key>true</key>
				<dict>
					<key>Definitions</key>
					<dict>
						<key>../Podfile:rlmpod</key>
						<string>    pod &apos;RealmSwift&apos;</string>
					</dict>
					<key>Nodes</key>
					<array>
						<string>../Podfile:rlmpod</string>
					</array>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>RxRealmEnabled</string>
			<key>Name</key>
			<string>Include Pod RxRealm</string>
			<key>Description</key>
			<string>Adds RxRealm as a CocoaPod</string>
			<key>Type</key>
			<string>checkbox</string>
			<key>RequiredOptions</key>
			<dict>
				<key>RealmEnabled</key>
				<string>true</string>
			</dict>
			<key>Default</key>
			<string>false</string>
			<key>NotPersisted</key>
			<true/>
			<key>Units</key>
			<dict>
				<key>true</key>
				<dict>
					<key>Definitions</key>
					<dict>
						<key>../Podfile:rxrlmpod</key>
						<string>    pod &apos;RxRealm&apos;</string>
					</dict>
					<key>Nodes</key>
					<array>
						<string>../Podfile:rxrlmpod</string>
					</array>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>CrashlyticsEnabled</string>
			<key>Name</key>
			<string>Include Pod Fabric and Crashlytics</string>
			<key>Description</key>
			<string>Adds Fabric and Crashlytics as a CocoaPod</string>
			<key>Type</key>
			<string>checkbox</string>
			<key>Default</key>
			<string>false</string>
			<key>NotPersisted</key>
			<true/>
			<key>Units</key>
			<dict>
				<key>true</key>
				<dict>
					<key>Definitions</key>
					<dict>
						<key>../Podfile:fabpod</key>
						<string>    pod &apos;Fabric&apos;</string>
						<key>../Podfile:crashmpod</key>
						<string>    pod &apos;Crashlytics&apos;</string>
					</dict>
					<key>Nodes</key>
					<array>
						<string>../Podfile:fabpod</string>
						<string>../Podfile:crashmpod</string>
					</array>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>FirebaseEnabled</string>
			<key>Name</key>
			<string>Include Pod Firebase</string>
			<key>Description</key>
			<string>Adds Firebase as a CocoaPod</string>
			<key>Type</key>
			<string>checkbox</string>
			<key>Default</key>
			<string>false</string>
			<key>NotPersisted</key>
			<true/>
			<key>Units</key>
			<dict>
				<key>true</key>
				<dict>
					<key>Definitions</key>
					<dict>
						<key>../Podfile:fircpod</key>
						<string>    pod &apos;Firebase/Core&apos;</string>
						<key>../Podfile:firmmpod</key>
						<string>    pod &apos;Firebase/Messaging&apos;</string>
					</dict>
					<key>Nodes</key>
					<array>
						<string>../Podfile:fircpod</string>
						<string>../Podfile:firmmpod</string>
					</array>
				</dict>
			</dict>
		</dict>
	</array>
	<key>Definitions</key>
	<dict>
		<key>../README.md</key>
		<dict>
			<key>SortOrder</key>
			<integer>99</integer>
			<key>Path</key>
			<string>Other/README.md</string>
			<key>TargetIndices</key>
			<array/>
			<key>Group</key>
			<array>
				<string>Supporting Files</string>
				<string>Documentation</string>
			</array>
		</dict>
		<key>../.gitignore</key>
		<dict>
			<key>Path</key>
			<string>Other/.gitignore</string>
			<key>TargetIndices</key>
			<array/>
			<key>Group</key>
			<array>
				<string>Supporting Files</string>
				<string>Non-iOS Resources</string>
			</array>
		</dict>
		<key>../Podfile</key>
		<dict>
			<key>SortOrder</key>
			<integer>99</integer>
			<key>Group</key>
			<array>
				<string>Supporting Files</string>
			</array>
			<key>TargetIndices</key>
			<array/>
			<key>Beginning</key>
			<string>platform :ios, &apos;9.0&apos;

use_frameworks!

target &apos;___PACKAGENAME___&apos; do

    pod &apos;Reachability&apos;, &apos;3.1.0&apos;
            </string>
			<key>End</key>
			<string>
end
            </string>
		</dict>
		<key>Resources/Fonts/.gitkeep</key>
		<dict>
			<key>Path</key>
			<string>Other/.gitkeep</string>
			<key>Group</key>
			<array>
				<string>Resources</string>
				<string>Fonts</string>
			</array>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>Resources/Images/.gitkeep</key>
		<dict>
			<key>Path</key>
			<string>Other/.gitkeep</string>
			<key>Group</key>
			<array>
				<string>Resources</string>
				<string>Images</string>
			</array>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>Resources/Video/.gitkeep</key>
		<dict>
			<key>Path</key>
			<string>Other/.gitkeep</string>
			<key>TargetIndices</key>
			<array/>
			<key>Group</key>
			<array>
				<string>Resources</string>
				<string>Video</string>
			</array>
		</dict>
		<key>Resources/Html/.gitkeep</key>
		<dict>
			<key>Path</key>
			<string>Other/.gitkeep</string>
			<key>TargetIndices</key>
			<array/>
			<key>Group</key>
			<array>
				<string>Resources</string>
				<string>Html</string>
			</array>
		</dict>
		<key>Resources/Others/.gitkeep</key>
		<dict>
			<key>Path</key>
			<string>Other/.gitkeep</string>
			<key>TargetIndices</key>
			<array/>
			<key>Group</key>
			<array>
				<string>Resources</string>
				<string>Others</string>
			</array>
		</dict>
		<key>Frameworks/.gitkeep</key>
		<dict>
			<key>Path</key>
			<string>Other/.gitkeep</string>
			<key>TargetIndices</key>
			<array/>
			<key>Group</key>
			<array>
				<string>Frameworks</string>
			</array>
		</dict>
		<key>Network/ApiHandler.swift</key>
		<dict>
			<key>Path</key>
			<string>Utils/ApiHandler.swift</string>
			<key>Group</key>
			<array>
				<string>Network</string>
			</array>
		</dict>
		<key>Models/.gitkeep</key>
		<dict>
			<key>Path</key>
			<string>Other/.gitkeep</string>
			<key>TargetIndices</key>
			<array/>
			<key>Group</key>
			<array>
				<string>Models</string>
			</array>
		</dict>
		<key>Views/.gitkeep</key>
		<dict>
			<key>Path</key>
			<string>Other/.gitkeep</string>
			<key>TargetIndices</key>
			<array/>
			<key>Group</key>
			<array>
				<string>Views</string>
			</array>
		</dict>
		<key>Views/CollectionCells/.gitkeep</key>
		<dict>
			<key>Path</key>
			<string>Other/.gitkeep</string>
			<key>TargetIndices</key>
			<array/>
			<key>Group</key>
			<array>
				<string>Views</string>
				<string>CollectionCells</string>
			</array>
		</dict>
		<key>Views/TableCells/.gitkeep</key>
		<dict>
			<key>Path</key>
			<string>Other/.gitkeep</string>
			<key>TargetIndices</key>
			<array/>
			<key>Group</key>
			<array>
				<string>Views</string>
				<string>TableCells</string>
			</array>
		</dict>
		<key>Views/Overlay/OverlayView.swift</key>
		<dict>
			<key>Path</key>
			<string>Class/OverlayView.swift</string>
			<key>Group</key>
			<array>
				<string>Views</string>
				<string>Overlay</string>
			</array>
		</dict>
		<key>Views/Overlay/WaitView.swift</key>
		<dict>
			<key>Path</key>
			<string>Class/WaitView.swift</string>
			<key>Group</key>
			<array>
				<string>Views</string>
				<string>Overlay</string>
			</array>
		</dict>
		<key>Views/Overlay/AlertView.swift</key>
		<dict>
			<key>Path</key>
			<string>Class/AlertView.swift</string>
			<key>Group</key>
			<array>
				<string>Views</string>
				<string>Overlay</string>
			</array>
		</dict>
		<key>Views/ViewControllers/___VARIABLE_ClassPrefix___NavigationController.swift</key>
		<dict>
			<key>Path</key>
			<string>Class/___VARIABLE_ClassPrefix___NavigationController.swift</string>
			<key>Group</key>
			<array>
				<string>Views</string>
				<string>ViewControllers</string>
			</array>
		</dict>
		<key>Views/ViewControllers/___VARIABLE_ClassPrefix___BaseVC.swift</key>
		<dict>
			<key>Path</key>
			<string>Class/___VARIABLE_ClassPrefix___BaseVC.swift</string>
			<key>Group</key>
			<array>
				<string>Views</string>
				<string>ViewControllers</string>
			</array>
		</dict>
		<key>ViewModels/___VARIABLE_ClassPrefix___BaseViewModel.swift</key>
		<dict>
			<key>Path</key>
			<string>Class/___VARIABLE_ClassPrefix___BaseViewModel.swift</string>
			<key>Group</key>
			<array>
				<string>ViewModels</string>
			</array>
		</dict>
		<key>Application/Extensions.swift</key>
		<dict>
			<key>Path</key>
			<string>Utils/Extensions.swift</string>
			<key>Group</key>
			<array>
				<string>Application</string>
			</array>
		</dict>
		<key>Application/Globals.swift</key>
		<dict>
			<key>Path</key>
			<string>Utils/Globals.swift</string>
			<key>Group</key>
			<array>
				<string>Application</string>
			</array>
		</dict>
		<key>Application/Strings.swift</key>
		<dict>
			<key>Path</key>
			<string>Utils/Strings.swift</string>
			<key>Group</key>
			<array>
				<string>Application</string>
			</array>
		</dict>
		<key>Application/Utils.swift</key>
		<dict>
			<key>Path</key>
			<string>Utils/Utils.swift</string>
			<key>Group</key>
			<array>
				<string>Application</string>
			</array>
		</dict>
		<key>Application/Typealias.swift</key>
		<dict>
			<key>Path</key>
			<string>Utils/Typealias.swift</string>
			<key>Group</key>
			<array>
				<string>Application</string>
			</array>
		</dict>
		<key>AppDelegate.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Application</string>
			</array>
		</dict>
		<key>Base.lproj/LaunchScreen.storyboard</key>
		<dict>
			<key>Path</key>
			<string>UI/LaunchScreen.storyboard</string>
			<key>Group</key>
			<array>
				<string>UserInterface</string>
			</array>
		</dict>
		<key>Base.lproj/Main.storyboard</key>
		<dict>
			<key>Path</key>
			<string>UI/Main.storyboard</string>
			<key>Group</key>
			<array>
				<string>UserInterface</string>
				<string>Storyboard</string>
			</array>
		</dict>
		<key>UserInterface/Overlay/WaitView.xib</key>
		<dict>
			<key>Path</key>
			<string>UI/WaitView.xib</string>
			<key>Group</key>
			<array>
				<string>UserInterface</string>
				<string>Overlay</string>
			</array>
		</dict>
		<key>UserInterface/Overlay/AlertView.xib</key>
		<dict>
			<key>Path</key>
			<string>UI/AlertView.xib</string>
			<key>Group</key>
			<array>
				<string>UserInterface</string>
				<string>Overlay</string>
			</array>
		</dict>
	</dict>
	<key>Nodes</key>
	<array>
		<string>../README.md</string>
		<string>../.gitignore</string>
		<string>../Podfile</string>
		<string>AppDelegate.swift</string>
		<string>Application/Extensions.swift</string>
		<string>Application/Globals.swift</string>
		<string>Application/Strings.swift</string>
		<string>Application/Utils.swift</string>
		<string>Application/Typealias.swift</string>
		<string>Resources/Fonts/.gitkeep</string>
		<string>Resources/Images/.gitkeep</string>
		<string>Resources/Video/.gitkeep</string>
		<string>Resources/Html/.gitkeep</string>
		<string>Resources/Others/.gitkeep</string>
		<string>Frameworks/.gitkeep</string>
		<string>Network/ApiHandler.swift</string>
		<string>Models/.gitkeep</string>
		<string>Views/CollectionCells/.gitkeep</string>
		<string>Views/TableCells/.gitkeep</string>
		<string>Views/Overlay/OverlayView.swift</string>
		<string>Views/Overlay/WaitView.swift</string>
		<string>Views/Overlay/AlertView.swift</string>
		<string>Views/ViewControllers/___VARIABLE_ClassPrefix___NavigationController.swift</string>
		<string>Views/ViewControllers/___VARIABLE_ClassPrefix___BaseVC.swift</string>
		<string>ViewModels/___VARIABLE_ClassPrefix___BaseViewModel.swift</string>
		<string>Base.lproj/Main.storyboard</string>
		<string>Base.lproj/LaunchScreen.storyboard</string>
		<string>UserInterface/Overlay/WaitView.xib</string>
		<string>UserInterface/Overlay/AlertView.xib</string>
	</array>
</dict>
</plist>
